#cart {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }
  
  .item {
    width: 300px;
    padding: 10px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .item img {
    height: 200px;
  }
  
  #cart div > img {
    width: 300px;
  }
  
  #checkout {
    margin-top: 100px;
  }
  